/*  LAYOUT */
body {
  background: grey;
}

section {
  height: 80vh;
  overflow:hidden;

}
footer {
  height: 20vh;
   text-align: center;
   overflow:hidden;
}
h1 {
  text-align: center;
}
.container {
  padding: 2em;
}

/* TYPOGRAPHY */

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(13px + 1vw);
}
h1 {
  font-weight: 900;
  font-size: 2rem;
}
p {
  text-align: left;
  line-height: 1.5;
}

footer a {
  font-weight: 700;
  font-size: 0.8em;
  padding: 1vw 2vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
}
